@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  color: white;
  padding: 4px 24px;
  background: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
